<div class="panel panel-default">
    <div class="panel-heading">三、多选题</div>
    <div class="panel-body">
        <ol>
            <% topic.forEach(function(item){ %>
                <li>
                    <%= item.question%><br>
                    <% item.options.forEach(function(element,i){ %>
                        <input type="checkbox" name="<%= item.name%>" value="<%= element.key%>"
                        <% if(item.value.indexOf(element.key) !== -1){ %> checked="checked" <% } %> ><%= element.key%>、<%= element.val%><br>
                    <%})%><br>
                </li>
            <%})%>
        </ol>
    </div>
</div>
