<%- include('./partial/_head') -%>
    <form class="container form-inline" action="/" method="post">
        <%- include('./partial/index/_header', {user: userData}) %>
        <%- include('./partial/index/_fill', {topic: data.Fill}) %>
        <%- include('./partial/index/_single-choice', {topic: data.SingleChoice}) %>
        <%- include('./partial/index/_multiple-choice', {topic: data.MultipleChoice}) %>
        <%- include('./partial/index/_true-or-false', {topic: data.TrueOrFalse}) %>
        <%- include('./partial/index/_short-answer.ejs', {topic: data.ShortAnswer}) %>
        <button type="button" class="btn btn-primary center-block">提交</button>
    </form>
<%- include('./partial/_foot') -%>
